
body {
            margin: 0;
            background-color: #f03;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
}
.eye-svg {
            width: 150px;
            height: 150px;
            cursor: pointer;
         
            outline: none; /* Remove the outline when focused */
            -webkit-tap-highlight-color: transparent; /* Disable the blue highlight */
            touch-action: manipulation; /* Prevent extra touch handling */

}
svg path {
            fill: black;
}

.cls-2 {
    fill: antiquewhite;
}

.cls-3 {
    fill: antiquewhite;
    opacity: 0.5;
    display: none;
}

.eye-svg .cls-1, /* Eye outline */
.eye-svg #pupil,  /* Pupil */
.eye-svg .cls-2,  /* Iris */
.eye-svg .cls-3 { /* Light reflection */
    transition: transform 0.4s ease; /* Smooth transition for transform */
    transform-origin: center; /* Ensure the animation happens from the center */
}


.container {
    display: flex;
    flex-direction: column; /* Align the eyes vertically */
    align-items: center;    /* Center the eyes horizontally */
    gap: 2px;              /* Add some space between the eyes */
}